@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  content: "\2026";
  width: 1em;
}

.prose a:hover {
  @apply no-underline;
}

.prose a.onboarding-cta {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-red-300 to-orange-300 border bg-zinc-900 border-zinc-600 py-[0.3em] px-[1em] rounded-md shrink-0;
}

.prose a.onboarding-cta:hover {
  @apply bg-white text-black bg-clip-border border-black;
}

.prose a.special-cta,
.prose a.special-cta:focus {
  @apply rounded-md bg-white text-black px-8 py-3 text-sm no-underline;
}

.prose a.special-cta:hover {
  @apply bg-gradient-to-r from-red-400 to-orange-400;
}
